// == PALETTE ==
//Dark
$obscurepurple: #202040;
$darkpurple: #202060;
$medpurple: #602080;
$lightpurple: #b030b0;
//Light
$lightwhite: #fcf9ea;
$lightblue: #badfdb;
$medorange: #f8a978;
$lightorange: #ffc5a1;
$lightgreen: #52de97;
// == PALETTE ==